{% extends 'layout.html.twig' %}

{% block title %}Création d'une série{% endblock %}

{% block body %}
    <h1>Création d'une série</h1>

    {{ form_start(serieForm) }}
{#        <div>#}
{#            {{ form_label(serieForm.name) }}#}
{#        </div>#}
{#        {{ form_widget(serieForm.name) }}#}
{#        {{ form_errors(serieForm.name) }}#}
{#        <br />#}
{#        <br />#}
        {{ form_widget(serieForm) }}
        <button>Ajouter</button>
    {{ form_end(serieForm) }}

{% endblock %}



